n8n_Trump.json
{
  "name": "n8n_Trump2.0.0",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://trumpstruth.org/feed"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        144
      ],
      "id": "5d5f2fe9-9729-41e2-9fe7-ed6242f8800a",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        144
      ],
      "id": "757627b5-df2d-46c6-8423-04c1e6d74d9d",
      "name": "RSS fetch html"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "752825289683370024",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1359858126727282689",
          "mode": "id"
        },
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "=# American Time\n{{ $('RSS Feed Trigger').item.json.pubDate }}\n# Content\n{{ $json.content.parts[0].text }}\n# [Link]({{ $json.TruthSocial }})",
              "author": "Donald J. Trump",
              "color": "#09268F",
              "timestamp": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "e6ffa5db-7747-4fc7-ae6d-3a1e6799685a",
      "name": "Discord",
      "webhookId": "ea1eea0b-9c02-4c75-bf51-3c78173cf443",
      "credentials": {
        "discordBotApi": {
          "id": "ajEAEo9AVic7CJ4X",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Html_content",
              "cssSelector": ".status__content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        240,
        144
      ],
      "id": "139593b2-7766-4d9d-900d-6b1cf908ad0b",
      "name": "HTML extract text"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "TruthSocial",
              "cssSelector": "td.status-details-table__value a[href^=\"https://truthsocial.com/\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        240,
        -16
      ],
      "id": "767f377a-4282-4aea-953e-90d7b702a533",
      "name": "HTML"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        896,
        0
      ],
      "id": "9ce82020-7e9a-45ec-a266-dbac88cc9bd2",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=請將以下英文內容翻譯成繁體中文，確保語句通順、符合繁體中文的習慣用語，並保留原文的語氣和上下文意涵。請避免直譯，適當調整語序和表達方式以符合繁體中文的自然語感。如果有專有名詞或術語，請保留原文並在括號中註明，或根據上下文提供適當的繁體中文翻譯。以下是待翻譯的內容：[插入英文內容]\n{{ $('RSS Feed Trigger').item.json.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        496,
        144
      ],
      "id": "b99d2e39-bdc9-4c52-a667-9781e1b4c807",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "kEOguHjbWX7CsPco",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "RSS fetch html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS fetch html": {
      "main": [
        [
          {
            "node": "HTML extract text",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML extract text": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07864443-f3f8-427b-bc8d-5e8dfca8e3c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e40a04b542f9d003ddb8fe041ef6a8c6558ded4e3477415c0d61c067857718a9"
  },
  "id": "y89ye3J7rzn0i8CY",
  "tags": [
    {
      "createdAt": "2025-09-01T15:42:03.635Z",
      "updatedAt": "2025-09-01T15:42:03.635Z",
      "id": "99E5fI68EZQl45eh",
      "name": "v1.0.0"
    }
  ]
}